
PhysicalSimulationServer/.vs/

PhysicalSimulationServer.vcxproj.user
.idea/

PhysicalSimulationServer/x64/Release/

PhysicalSimulationDriver/cmake-build-debug/

PhysicalSimulationDriver/cmake-build-release/

PhysicalSimulationDriver/cmake-build/

PhysicalSimulationDriver/cmake-build-release-visual-studio/